src/main/mule/test123.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8acdcbf5-cbe5-4a68-be57-617f2335a55b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test123Flow" doc:id="6687b70d-b535-46b0-b895-2c911e16867a" >
		<http:listener doc:name="Listener" doc:id="465981a0-cbde-40fc-9aec-6d7ce5248f3b" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="137f0b66-2c63-4ef2-88fe-80721756b43a" message="start log"/>
		<set-payload value='#[{&#10;	"message": "Test message 123"&#10;}]' doc:name="Set Payload" doc:id="fcbd87cc-2239-4495-8c17-55f63e5faa44" />
		<logger level="INFO" doc:name="Logger" doc:id="df17cc05-0bad-4175-98d6-7c2cd4cfc09e" message="#[payload]"/>
	</flow>
</mule>
